@import './../../app.scss';

ion-header {
    ion-grid {
        ion-row {
            @extend %flex-center;

            font-size: $font-size-m;

            ion-col {
                @extend %flex-center;

                &.start {
                    justify-content: flex-start;
                }

                &.end {
                    justify-content: flex-end;
                }
            }
        }
    }
}

.select {
    @extend %flex-center;
}

.center {
    @extend %flex-center;
}

.primary {
    color: $primary-color;
    text-shadow: 1px solid black;
}

.start-balance {
    font-size: $font-size-xxl;

    ion-card-subtitle {
        color: black !important;
    }
    
    ion-card-title {
        color: $secondary-color !important;
    }
}

.danger {
    color: $danger-color;
}

ion-content {
    .account-balance {
        ion-card-subtitle {
            @extend %flex-center;
            font-size: $font-size-m;
        }
    
        ion-card-title {
            @extend %flex-center;
            font-size: $font-size-xl *2;
        }
    }
}